* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

/* LAYOUT */

.container {
  max-width: 1024px;
  margin: 0 auto;
}

body {
  background-color: #e5e5e5;
}

main {
  display: flex;
  flex-grow: 1;
}